@font-face {
  font-family: "iconfont"; /* Project id 4507115 */
  src: url('//at.alicdn.com/t/c/font_4507115_wayrlqc64p.woff2?t=1715402678019') format('woff2'),
       url('//at.alicdn.com/t/c/font_4507115_wayrlqc64p.woff?t=1715402678019') format('woff'),
       url('//at.alicdn.com/t/c/font_4507115_wayrlqc64p.ttf?t=1715402678019') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e7ac";
}

.icon-hanbaobaocaidan:before {
  content: "\e68b";
}

.icon-gensuixitong-hei:before {
  content: "\e60e";
}

.icon-taiyang:before {
  content: "\e7ed";
}

.icon-yueliang:before {
  content: "\e70f";
}

.icon-steam:before {
  content: "\e686";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-email:before {
  content: "\e66f";
}
