@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:root[mode='light'] {
    --primary: #53a3f2;
    --page-bg: #eaeff5;
    --card-bg: white;
    --list-item-bg-hover: rgb(191 219 254 / 1);
    --list-item-bg-active: rgb(191 219 254 / 1);
}

:root[mode="dark"] {
    --primary: #63b3ff;
    --page-bg: #090e13;
    --card-bg: #181e24;
    --list-item-bg-hover: #4a5568;
    --list-item-bg-active: #4a5568;
    @apply text-slate-100;
}